@charset "utf-8";
/* Tablet Device */
@media all and (min-width:720px){
	.contents{
		overflow: hidden;
	}
	.booMain, .hotMain{
		float: left;
	}
	.qnaNewsArea, .twitterMain{
		float: right;
	}	
}










