@charset "utf-8";
/* 웹폰트 : Spoqa Han Sans(Noto Sans) */
@import url(font.css);
@import url(fontello.css);

/* 초기화 - Reset CSS */
/* 모든 요소의 box-sizing을 재지정 (width 값에 padding과 border가 포함 됨)*/
*{
  box-sizing: border-box;  
}
/* 요소의 여백 제거 */
html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
/* 제목 요소의 글자 크기 */
h1, h2, h3, h4, h5, h6{
  font-size: 1em;
}
/* 목록의 불릿 제거 */
ul{
  list-style: none;
}
/* 테두리 제거 */
fieldset, a img{
  border: 0 none;
}
/* 폼 요소 글꼴 및 글자 크기 상속 키워드 지정 */
input, button, textarea, select, option{
  font-size: inherit;
  font-family: inherit; 
}
/* 반응형 이미지 */
img {
  max-width: 100%;
  height: auto;
}
/* 숨김 콘텐츠 */
.a11y-hidden{
	overflow: hidden;
	position: absolute;
	clip: rect(0 0 0 0);
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
}
/* 스크린리더에서 읽기 가능 + 포커스 적용 */
.ally-hidden:active, .ally-hidden:focus{
  overflow: visible;
  position: static;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
}
/* body 요소의 기본 스타일*/
body{
  font-size: 0.875em;
  font-weight: 300;
  font-family: 'Spoqa Han Sans', 'Sans-serif'; 
  line-height: 1;
  color: #181818;
  background-color: #eee;
}
/* 하이퍼 링크 */
a:link, a:visited{
  color: inherit;
  text-decoration: none;
}
/*p{
  line-height: 1.5;
}*/
/* 공통 스타일 */
/* 플로트 이슈를 해결하기 위한 clearfix */
.header:after, .menu:after{
  content: "";
  display: block;
  clear: both;
}
/* IR 기법으로 텍스트를 보이지 않도록 처리한 후 :before 선택자에 아이콘 폰트를 지정 */
[class^="icon"]:before{
  content: "";
  font-family: 'fontello';
}
/* IR 기법으로 화면상에서 보이지 않도록 감춤 */
.ir-text{
  position: absolute;
  text-indent: -9999em;
  overflow: hidden;
}
/* 헤더 시작 ====================================*/
.header{
  padding: 1em;
  background-color: #fff;
  border-bottom: 1px solid #bbb;
}
/* 로고 */
.logo{
  float: left;
  font-size: 1.5em;
}
/* 검색하기 버튼 */
.btn-search{
  float: right;
  border: 0 none;
  padding: 0;
  background-color: transparent;
}
.icon-zoom:before{
   content: '\e800';
   color: #666;
   font-size: 1.15em;
}
/* 검색 폼 */
.search-form {
  display: none;
}
/* 로그인/MY Page */
.login-my-page{
  float: right;
}
.login, .my-page{
  display: block;
  font-weight: 400;
  font-size: 1.15em;
  padding: 0.15em 0.4em;
  margin-left: 0.4em;
}
.my-page{
  display: none;
}
/* 헤더 끝 ====================================*/
/* 메뉴 시작 ====================================*/
.gnb{
  padding: 1em;
  background-color: #fff;
  border-bottom: 1px solid #bbb;
}
.menu{
  background-color: #fff;
  margin: 0;
  padding: 0;
}
.menu li{
  float: left;
  width: 25%;
  text-align: center;
  font-size: 1.15em;
  font-weight: 400;
  color: #666;
}
.menu a{
  padding: 0.75em;
  position: relative;
}
.menu-active:after{
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 4px;
  border-top: 4px solid #9b54ca;
}
/* 메뉴 끝 ====================================*/
/* 메인 콘텐츠 시작 ====================================*/
/* 콘텐츠 섹션 공통 (텍스트 타입&카드 타입)*/
[class$="type"]{
  margin: 1em;
}
/* 콘텐츠 제목 공통 */
[class$="-headline"] a{
  display: block;
  font-weight: 400;
  padding: 1em;
  background-color: #fafafa;
}
/* 텍스트 타입 콘텐츠 섹션 */
.text-type{
  border: 1px solid #bbb;
  background-color: #fff;
}
[class$="list"]{
  margin: 0;
  padding: 0;
}
[class$="list"] li{
  line-height: 1.5;
}
[class$="list"] a{
  display: block;
  padding: 1em;
  border-top: 1px solid #bbb;
}
/* 카드 타입 콘텐츠 섹션*/
.card-type{
  background-color: #a18cd1;
  background-image: linear-gradient(-225deg, #38ABA4 0%, #FEC987 40%, #835190 70%, #3F48CC 100%);
  display: table;
  width: calc(100% - 2em);
  height: 250px;
  box-sizing: border-box;
}
.card-type a{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 1em;
}
.card-type [class$="-headline"], .card-type [class$="-content"]{
  margin: 0.5em 0;
  line-height: 1.5;
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 0 0 rgba(0,0,0,1), 
               -1px 0 0 rgba(0,0,0,1),
               0px 1px 0 rgba(0,0,0,1),
               0px -1px 0 rgba(0,0,0,1);
}
/* 메인 콘텐츠 끝 ====================================*/
@media all and (min-width:600px) and (max-width:1024px) {
  body{
    font-size: 1em;
  }
}
@media all and (min-width:1025px) {
  body{
    font-size: 1.2em;
  }
}
