@charset "utf-8";
/* 웹폰트 : Spoqa Han Sans(Noto Sans) */
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 700;
    src: local('Spoqa Han Sans Bold'),
    url('font/Spoqa%20Han%20Sans%20Bold.woff2') format('woff2'),
    url('font//Spoqa%20Han%20Sans%20Bold.woff') format('woff'),
    url('font/Spoqa%20Han%20Sans%20Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 400;
    src: local('Spoqa Han Sans Regular'),
    url('font/Spoqa%20Han%20Sans%20Regular.woff2') format('woff2'),
    url('font/Spoqa%20Han%20Sans%20Regular.woff') format('woff'),
    url('font/Spoqa%20Han%20Sans%20Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 300;
    src: local('Spoqa Han Sans Light'),
    url('font/Spoqa%20Han%20Sans%20Light.woff2') format('woff2'),
    url('font/Spoqa%20Han%20Sans%20Light.woff') format('woff'),
    url('font/Spoqa%20Han%20Sans%20Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 100;
    src: local('Spoqa Han Sans Thin'),
    url('font/Spoqa%20Han%20Sans%20Thin.woff2') format('woff2'),
    url('font/Spoqa%20Han%20Sans%20Thin.woff') format('woff'),
    url('font/Spoqa%20Han%20Sans%20Thin.ttf') format('truetype');
}
/* 초기화 - Reset CSS */
/* 모든 요소의 box-sizing을 재지정 (width 값에 padding과 border가 포함 됨)*/
*{
  box-sizing: border-box;  
}
/* 요소의 여백 제거 */
html, body, h1, h2, h3, h4, h5, h6, p, fieldset{
  margin: 0;
  padding: 0;
}
/* 제목 요소의 글자 크기 */
h1, h2, h3, h4, h5, h6{
  font-size: 1em;
}
/* 목록의 불릿 제거 */
ul{
  list-style: none;
}
/* 테두리 제거 */
fieldset, a img{
  border: 0 none;
}
/* 폼 요소 글꼴 및 글자 크기 상속 키워드 지정 */
input, button, textarea, select, option{
  font-size: inherit;
  font-family: inherit; 
}
/* 버튼 커서 스타일 지정 */
button{
  cursor: pointer;
}
/* 반응형 이미지 */
img {
  max-width: 100%;
  height: auto;
}
/* 숨김 콘텐츠 */
.a11y-hidden, legend{
	overflow: hidden;
	position: absolute;
	clip: rect(0 0 0 0);
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
}
/* 스크린리더에서 읽기 가능 + 포커스 적용 */
.ally-hidden:active, .ally-hidden:focus{
  overflow: visible;
  position: static;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
}
/* body 요소의 기본 스타일*/
body{
  font-size: 0.875em;
  font-weight: 300;
  font-family: 'Spoqa Han Sans', 'Sans-serif'; 
  line-height: 1;
  color: #181818;
  background-color: #eee;
}
/* 하이퍼 링크 */
:link, :visited{
  color: inherit;
  text-decoration: none;
}
/* 공통 스타일 */
/* 플로트 이슈를 해결하기 위한 clearfix */
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
/* IR 기법으로 화면상에서 보이지 않도록 감춤 */
.ir-text{
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* ============ 아이콘 배경 이미지 공통 시작 ============ */
[class|="icon"]:before{
   display: inline-block;
   content: "";
   width: 1.1em;
   height: 1.1em;
   position: relative;
   top: 0.2em;
   border: 0 none;
   background-color: transparent;
   background-size: 100% 100%;   
   background-repeat: no-repeat;
}
.icon-search:before{
   background-image: url(icons/search.png);
}
.icon-kakao-share:before{
   background-image: url(icons/kakao-share.png);
}
.icon-facebook-share:before{
   background-image: url(icons/facebook-share.png);
}
.icon-twitter-share:before{
   background-image: url(icons/twitter-share.png);
}
.icon-link-share:before{
   background-image: url(icons/link-share.png);
}
.icon-like:before{
   background-image: url(icons/like.png);
}
/* ============ 아이콘 배경 이미지 공통 끝 ============ */
/* ============ 레이아웃 공통 (헤더, 메뉴, 메인콘텐츠, 푸터) 시작 ============ */
/* 헤더 시작 */
.header{
  padding: 1em;
  background-color: #fff;
  border-bottom: 1px solid #bbb;
}
/* 로고 */
.logo{
  float: left;
  font-size: 1.5em;
}
/* 검색하기 버튼 */
.btn-search-open{
  float: right;
  border: 0 none;
  padding: 0;
  background-color: transparent;
}
/* 검색 폼 레이어 */
.search-layer {
  display: none;
}
.search-layer {
	position : absolute;
  width: 100%;
  height: 100vh;
	left :0;
	top :0;
	background : #fff;
	padding : 1em;
  z-index: 100;
}
.keyword-wrap{
  float: left;
  width: calc(100% - 5em);
}
#keyword{
  border: 0 none;
  width: calc(100% - 2em);
}
.btn-search-wrap{
  float: right;
}
.btn-search-submit, .btn-search-reset{
  border: 0 none;
  padding: 0;
  margin-left: 0.5em;
  background-color: #fff;
}
/* 로그인/MY Page 링크 */
.login-wrap{
  float: right;
}
.go-login, .my-page{
  display: none;
}
.login-active{
  display: block;
  font-weight: 400;
  font-size: 1.15em;
  padding: 0.15em 0.4em;
}
/* 헤더 끝 */
/* 메뉴 시작 */
.gnb{
  padding: 1em;
  background-color: #fff;
  border-bottom: 1px solid #bbb;
}
.menu{
  background-color: #fff;
  margin: 0;
  padding: 0;
}
.menu li{
  float: left;
  width: 25%;
  text-align: center;
  font-size: 1.15em;
  font-weight: 400;
  color: #666;
}
.menu a{
  padding: 0.75em;
  position: relative;
}
.menu-active:after{
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 4px;
  border-top: 4px solid #9b54ca;
}
/* 메뉴 끝 */
/* 메인 콘텐츠 시작 */
.main-content{
  padding: 1em;
}
/* 메인 콘텐츠 끝 */
/* 콘텐츠 타입 공통 (텍스트 타입&카드 타입)*/
.text-type, .card-type{
  margin: 1em;
}
/* 콘텐츠 타입 제목 공통 (텍스트 타입&카드 타입) */
.text-type-headline a, .card-type-headline a{
  display: block;
  font-weight: 400;
  padding: 1em;
  background-color: #fafafa;
}
/* 텍스트 타입 콘텐츠 섹션 */
.text-type{
  border: 1px solid #bbb;
  background-color: #fff;
}
.text-type-list{
  margin: 0;
  padding: 0;
}
.text-type-list li{
  line-height: 1.5;
}
.text-type-list a{
  display: block;
  padding: 1em;
  border-top: 1px solid #bbb;
}
/* 카드 타입 콘텐츠 섹션*/
.card-link{
  display: table;  
  width: 100%;
  height: 250px;
  margin: 1em 0;
  padding: 0 1em;
  box-sizing: border-box;  
}
.card-type{
  background-color: #a18cd1;
  background-image: linear-gradient(-225deg, #38ABA4 0%, #FEC987 40%, #835190 70%, #3F48CC 100%);
  display: table-cell;
  text-align: center;
  vertical-align: middle;  
}
.card-type-headline, .card-type-content{
  margin: 0.5em 0;
  line-height: 1.5;
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 0 0 rgba(0,0,0,1), 
               -1px 0 0 rgba(0,0,0,1),
               0px 1px 0 rgba(0,0,0,1),
               0px -1px 0 rgba(0,0,0,1);
}
/* 리스트 타입 콘텐츠 섹션 */
/* 직업, 관심사, 분야별 콘텐츠 */
.list-type-headline{
  padding: 1em;
}
.list-type-case{
  width: 100%;
  position: relative;
}
.list-type-case dt, .list-type-case dd{
  background-color: #fff;
  margin: 0 0 0.5em;
}
.list-type-case dt{    
  position: absolute;
  font-weight: 400;
  color:#835190;
  width: 6em;
  border-top: 1px solid #bbb;
  border-left: 1px solid #bbb; 
}
.list-type-case dd{
  border: 1px solid #bbb;
  padding-left: 7em; 
  line-height: 1.5; 
}
.list-type-case a{
  display: block;
  padding: 1em;
}
/* 직업별(테마) 콘텐츠 */
.list-type-list{
  padding: 0;
}
.list-type-list li{
  border: 1px solid #ddd;
  background-color: #fff;
  line-height: 1.5;
  margin: 0 0 0.5em;
}
.list-type-list a{
  display: block;
  padding: 1em;
}
/* 검색 결과 콘텐츠 섹션 */
.make-question{
  text-align: center;
  display: block;
  background-color: #6C19BC;
  color: #fff;
  font-size: 1.5em;
  line-height: 1.5;
  padding: 3em 1em;
}
.line-break{
  display: block;
}
/* 회원가입,로그인,비밀번호 찾기 페이지 */
.form-headline{
  padding: 1em;
  margin: 1.5em 0 1.5em;
}
.form-headline, .form-box{
  border: 1px solid #bbb;
  background-color: #fff;
}
.input-box{
  display: block;
  width: 100%;
  padding: 0.7em 1em; 
  margin-top: 0.5em; 
  margin-bottom: 1em;
}
.form-box button{
  text-align: center; 
  display: block;
  border: 0 none;
  width: 100%;
  padding: 0.75em 1em;
  margin: 0;
  background-color: transparent;
}
.member{  
  text-align: center;  
  padding: 0;
}
.member li{
  display: inline-block; 
}
.member li:first-child{
  margin-left: 2em;
}
.member li:first-child:after{
  content: " |";
}
.member a{
  padding: 0.8em 0;
}
/* SNS 공유 */
.sns-share{
  text-align: center;
  padding: 0;
}
.sns-share li{
  display: inline-block;
  margin-left: 0.5em
}
.sns-share li:first-child{
  margin-left: 0;
}
.sns-share [class|="icon"]{
  border: 0 none;
  background-color: transparent;
}
.sns-share [class|="icon"]:before{
  width: 3.5em;
  height: 3.5em;
}
/* 회원가입 약관동의 */
.join-agree{
  width: 20em;
  margin: 1.5em 0;
}
.join-agree-label{
  float: right;
}
.join-agree-input{
  float: left;
}
/* 후보별 답변 */
.candidates-answer, .candidate{
  margin:1em;
  padding: 1em;
  border: 1px solid #bbb;
  background-color: #fff;  
}
.candidate-profile{
  min-width: 80px;
  width: 20%;
  float: left;
  padding: 0.5em 1em;
  margin: 0;
}
.candidate-answer{
  margin: 1em 0;
  line-height: 1.5;
}
.candidate-answer span{
  display: block;
}
.candidate-answer-like{
  float: right;
}
.answer-like:before{
  width: 1.5em;
  height: 1.5em;
}

/* 맨 위로 이동 링크 */
.goto-top{
  position: fixed;
  right: 2em;
  bottom: 2em;
}
.goto-top:before{
  font-weight: 700;
}
/* 콘텐츠 끝 ====================================*/
@media all and (min-width:600px) and (max-width:1024px) {
  body{
    font-size: 1em;
  }
}
@media all and (min-width:1025px) {
  body{
    font-size: 1.2em;
  }
}
