@charset "utf-8";
/* 웹폰트 */
@font-face {
    font-family:"Nanum";
    font-weight:400;
    src: url('font/NanumGothic.eot');
    src: url('font/NanumGothic.eot?#iefix') format('embedded-opentype'),
         url('font/NanumGothic.woff') format('woff'),
		 url('font/NanumGothic.ttf') format('truetype');
}
@font-face {
    font-family:"NanumEX";
    font-weight:900;
    src: url('font/NanumGothicExtraBold.eot');
    src: url('font/NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'),
         url('font/NanumGothicExtraBold.woff') format('woff'),
		 url('font/NanumGothicExtraBold.ttf') format('truetype');
}
/* Reset */
html,body,div,header,nav,section,aside,article,footer,figure,figcaption,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,fieldset{
	margin:0;
	padding:0;
}
ul{
	list-style:none;
}
fieldset{
	border:0;
}
/* 테두리 제거 */
fieldset {
	border : 0 ;
}
/* form 요소의 font-size */
input, select {
	 font-size : 1em ;  
}
/* 인라인 요소  정렬 */
img, label, input, select{
	vertical-align : middle ;
}
/* 링크 텍스트 색상 및 밑줄 */
a {
	text-decoration : none ;
}
a:link, a:visited, a:hover, a:focus{
	color : inherit ;
}
a:hover, a:focus { 
	text-decoration: underline;
}
/* Base Style */
html{
	font-size: 0.625em;
}
body{
	font-size: 1.2rem;
	font-family: 'Nanum', sans-serif;
	line-height: 1.2;
}
/* responsive contents */
img, video{
	max-width: 100%;
	height: auto;
}
/* hidden contents */
.hidden, .skipNav, legend {
	position : absolute ;
	left : -9999em ;
}
/* All Device Layout */
/* .header area */
.header {
	background : #988574 ;
	overflow : hidden ;
}
/* .logo */
.logo {
	width: 40%;
	max-width: 470px;
	float: left;
	margin: 10px;
}
/* .infoLink area */
.infoLink{
	overflow: hidden;
	float: right ;
	margin: 10px 10px 10px 0 ;
}
.infoLink li{
	float: left;
	margin-left: 5px;
}
.infoLink a {		
	display: block;
	padding: 5px 10px;
	color: #fff;		
	border-radius: 5px;
	background: #7d3016;
}
/* .search area */
.search{
	float: right;
	margin: 10px 10px 10px 0 ;
}
#keyword {
	width : 15rem ;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px 10px;
	margin-right: 5px;
}	
/* .mainMenu area */
.headerInner, .navArea{
	overflow: hidden;
}
.navArea{
	background : #38302e ;
}
.mainMenu {		
	color: #cab29a;
	font-family: "NanumEX";
	font-size: 1.3rem;
	line-height: 2.5;
	overflow: hidden;
	text-align: center;
}
.mainMenu li {
	width: 25%;
	float: left;
}
/* .slide section */
.slide {
	position: relative;
	text-align: center;
}
.slideImg li {
	display: none;
}
li.actImg {
	display: block;
}
.slideControl a{
	position: absolute;
	width: 35px ;
	height: 35px;
	top: 40%;
}
.slidePrev{
	left: 0;
}
.slideNext{
	right: 0;
}
.slideNumber{
	margin: 5px 0;
}
.slideNumber a{
	display: inline-block;
	width: 10px;
	height: 0;
	padding-top: 10px;
	overflow: hidden;
	border: 1px solid #bbb;
	border-radius: 10px;
	background: #ccc;
	margin: 2px;
}
a.actNumber {
	background : #f00 ;
}
/* contents area title - Sprite background */
.subject {
	color : #35302d ;
	font-size : 1.25em ;
	height : 58px ;
	padding-left : 65px;	
	margin : 10px 0 ;
	background :url(images/sprite_main.png) no-repeat 0 0 ;	
}
.subject a {
	color : #30302d ;
}
.enSubject {
	display : block ;
	
	margin-top : 5px ;
}
.bookTitle {
	background-position : 0 0;
}
.bookTitle .enSubject {
	color : #abd375 ;
}
.qnaTitle {
	background-position : 0 -115px;
}
.qnaTitle .enSubject {
	color : #c7b39a ;
}
.newsTitle {
	background-position : 0 -230px;
}
.newsTitle .enSubject {
	color : #e8ca58 ;
}
.hotTitle {
	background-position : 0 -345px;
}
.hotTitle .enSubject {
	color : #eea60a ;
}
.twitterTitle {
	background-position : 0 -460px;
}
.twitterTitle .enSubject {
	color : #6aaee6 ;
}
/* .bookMain section */
.bookMain {
	position : relative ;
}
.bookImg {
	width : 50% ;
	text-align: center;
	margin : 10px auto ;
}
.bookDetail {
	margin : 20px 0;
	display : none ;
}
.actBook{
	display : block ;
}
.bookDetail h2 {
	color : #888;
	font-size : 1em ;
	text-align : center ;
}
.bookDetail dl {
	margin : 5px 0 10px;
	text-align : center ;
}
.bookDetail dt, .bookDetail dd {
	display : inline-block ;
	color : #8a8a8a ;
}
.bookDetail .designer:before {
	content : "&" ;
}
.bookDetail .name:before {
	content : "/" ;
}
.bookDetail .point {
	display : block ;
	color : #afd371 ;
	font-size : 2em ;
}
.bookDetail p {
	text-align : justify ;
	color : #898989 ;
	line-height : 1.6 ;
}
.bookControl a {
	position : absolute ;
	top : 35% ; 
	height : 0 ;
	padding-top : 1.5em ;
	overflow : hidden ;
	background : url(images/sprite_book.png) no-repeat ;
}
a.bookPrev {
	left : 1em ;
	background-position : 0 -34px ;
}
a.bookPrev.end {
	background-position : 0 0 ;
}
a.bookNext {
	right : 0 ;
	background-position : 0 -102px ;
}
a.bookNext.end {
	background-position : 0 -68px ;
}
.bookExample {
	width : 80% ;
	margin : 20px auto ;
	overflow : hidden ;
}
.bookExample li {
	width : 30% ;
	float : left ;
	margin-left : 5% ;
	text-align: center;	
}
.bookExample span {
	display : block ;
	font-family : "NanumEx" ;
	margin : 5px 0 10px 0 ;
}
.bookExample li:first-child {
	margin-left : 0 ;	
}
/* .qnaMain section */
.qnaMain {
	position : relative ;
	margin : 0 auto 10px ;
}
.qnaList li {
	margin : 8px 0 8px 5px ;
	padding-left : 10px ;
	line-height : 1.6 ;
	overflow : hidden ;
	background : url(images/sprite_bullet.png) no-repeat 0 8px ;
}
.qnaMain time {
	float:right ;
	font-size : 0.85em ;
	padding : 5px 0 5px 20px ;
	background : url(images/sprite_bullet.png) no-repeat 0 -45px ;
	
}
/* .newsMain section  */
.newsMain {
	overflow : hidden;
	margin : 20px 0 ;
}
.newsMain p {
	line-height : 1.6 ;
	margin : 10px 0 ; 
}
.newsMain time {
	float : right ;
	font-size : 0.85em ;
	padding : 2px 0 2px 20px ;
	background : url(images/sprite_bullet.png) no-repeat 0 -48px ;		
}
/* .hotMain section */
.hotMain {
	overflow : hidden ;
	margin : 20px 0 ;
}
.hotMain ol {
	padding-bottom : 5px ;
}
.hotMain li {
	position : relative ;
	margin : 5px 0 0 0 ;
	counter-increment : number ;
	color : #fff ;
	font-weight : bold ;
}
.hotMain li:before { 
	content : counter(number, decimal) ; 
	background : #ec6b4e ;
	border-radius : 15px ;
	padding : 5px 8px ;
	margin-right : 3px ;
	font-size : 0.75em ;
}
.keyword { 
	display : inline-block ;
	margin-left : 5px ;
	width : 84% ;
	background : #ebebeb ;	
	border-radius : 10px ;
}
.keyword span {
	background : #c69c6c ;
	display : inline-block ;
	border-radius : 10px 0 0 10px ;
	padding : 5px 10px ;	
}
.no1 {
	width : 70% ;
}
.no2 {
	width : 60% ;
}
.no3 {
	width : 50% ;
}
.no4 {
	width : 40% ;
}
.no5 {
	width : 30% ;
}
/* .twitterMain section */
.twitterArticle {
	border-top : 1px solid #ccc ;
	padding-top : 10px ;
	margin : 15px 0 ;
	overflow : hidden ;
}
.twitterTitle + .twitterArticle {
	border-top : 0 ;
}
.twitterUserProfile {
	float : left ;
	width : 20% ;
	margin-right : 10px ;
}
.twitterUserName {
	display : block ;
	color : #000 ;
	font-weight : bold ;
	margin-bottom : 10px ;
}
.twitterUserName span {
	font-weight : normal ;
}
.twitterContent {
	margin-left : 60px ;
	line-height : 1.6 ;
}
.twitterDate {
	float : right ;
	font-size : 0.85em ;
	padding : 2px 0 2px 20px ;
	background : url(images/sprite_bullet.png) no-repeat 0 -50px ;	
}
/* footer */
.footer {
	color : #eceaeb ;
	font-size : 0.85em ;
	background-color : #432219 ;
	/* repeating-linear-gradient의 경우 webkit 계열의 웹 브라우저의 렌더링 품질이 좋지 않아 파이어폭스와 인터넷 익스플로러에만 적용 */
	background-image : -ms-repeating-linear-gradient(-45deg, #462a1f 2px, #462a1f 4px, #432219 4px, #432219 8px) ;
	background-image : -moz-repeating-linear-gradient(-45deg, #462a1f 2px, #462a1f 4px, #432219 4px, #432219 8px) ;	
}
.footer h2 {
	font-size : 1.3em ;
	color : #c6b29a ;
}
/* address */
.addressArea {
	text-align : center ;
	padding : 10px 0 15px ;
}
.addressArea h2 {
	padding-right : 10px ;
}
address {
	font-style : normal ;
}
address:after {
	content : "" ;
	display : inline-block ;
	width : 18px ;
	height : 25px ;
	background : url(images/sprite_footer.png) no-repeat 0 0 ;
}
/* .guideArea */
.guideArea h2 {
	padding : 15px 0 0 15px ;
}
.guide {
	padding : 15px ;
}
.guide a {
	color : #fff ;
	display : block ;
	line-height : 2 ;	
}
/* .contactArea */
.contactArea h2 {
	padding : 15px 0 0 15px ;
}
.contact {
	padding : 15px ;
}
.contact li {
	height : 18px ;
	line-height : 18px ;
	padding-left : 25px ;
	margin : 5px 0 ;
	background : url(images/sprite_footer.png) no-repeat 0 0 ;
}
li.webcafeTel{
	background-position : 0 -50px ;
}
li.webcafeFax{
	background-position : 0 -93px ;
}
li.webcafeEmail{
	background-position : 0 -136px ;
}
.contact a {
	color : #fff ;
} 
/* .copyright */
.copyright {	
	color : #c5b39b ;
	padding : 10px ;
	text-align : center ;	
	background : #291610 ;
}

/* Mobile device */
.contents{
	display: flex;
	flex-flow: row wrap;
}
.slide, .bookMain, .qnaNewsArea, .qnaMain, .newsMain, .hotTwitterArea, .hotMain, .twitterMain{
	width: 100%; 
	min-height: 150px;
}
@media all and (min-width:320px) and (max-width:480px){	
	.infoLink a {
		display : block ;
		width : 30px ;
		height : 0 ;
		padding : 30px 0 0 0 ;
		overflow : hidden ;
		background : url(images/sprite_mobile_header.png) no-repeat ;
	}
	.login a {
		background-position : 0 0 ;
	}
	.join a {
		background-position : 0 -60px ;
	}
	.naver a {
		background-position : 0 -120px ;
	}
}

/* Tablet Device */
@media all and (min-width:720px){	
	/* iE8 이하를 위한 Float 선언 --- Start */
	.mainMenu{
		font-size: 1.5rem;
	}	
	.contents{
		overflow: hidden;
	}
	.slide{
		margin: 20px 0;
	}
	.bookMain, .hotMain{
		float: left;
	}
	.qnaNewsArea, .twitterMain{
		float: right;
	}	
	/* --- End */
	.header {
		position : relative ;
	}
	.header:before {
		content : "슬비쌤의 반응형 웹 사이트  - Tablet" ;
		position : absolute ;
		top : 20px ;
		left : 30px ;
		font-family : "NanumEX" ;
		font-size : 1.2em ;
		color : #fff ;
	}
	.logo {
		width : 20% ;
		position : absolute ;
		top : 50px ;
		left : 0
	}
	.naver a {
		margin-left: 5px;
		padding : 6px 0px 6px 25px ;
		background : url(images/sprite_header.png) no-repeat 0 5px ;
	}
	.mainMenu {
		margin-left : 250px ;
	}
	.mainMenu a{
		height : 70px ; 
		line-height : 70px ;
	}
	.contents, .qnaNewsArea, .hotTwitterArea{
		justify-content: space-around;
	}
	.qnaNewsArea, .hotTwitterArea{
		display: flex;
		flex-flow: row wrap;
	}
	.hotTwitterArea{
		width: 100%;		
	}
	.bookMain, .hotMain{
		width: 41%;
	}	
	.qnaNewsArea, .twitterMain{
		width: 52%;
	}
	.footer {
		position: relative;
	}
	.footerInner{
		overflow: hidden;
	}
	.addressArea {
		position: absolute;
		top: 5px;
		left: 0;
		width: 100%;
		text-align: center;
	}
	.addressArea h2, address{
		display: block;
	}
	.guideArea{
		float: left;
		width: auto;
		padding-left: 20px;
	}
	.contactArea{
		float: right;
		width: auto;
		padding-right: 20px;
	}
		
}
/* DeskTop Device */
@media all and (min-width:960px){
	body{
		font-size: 14px;
		font-size: 1.4rem;
	}
	.headerInner, .navigation, .contents, .footerInner{
		max-width: 960px;
		margin: 0 auto;
	}
	.header:before {
		content : "슬비쌤의 반응형 웹 사이트  - Desktop" ;
	}
	.mainMenu{
		font-size: 1.8rem;
	}
	.qnaNewsArea, .hotTwitterArea{
		float: left;
		margin-left: 6%;
	}
	
	.bookMain{
		width: 27.5%;
	}
	.qnaNewsArea{
		width: 37.5%;
	}
	.hotTwitterArea{
		width: 23%
	}
	.hotMain, .twitterMain{
		width: 100%;
	}
}









