@charset "utf-8";

/* ===== All Device - 모든 해상도를 위한 공통 코드 ===== */

/* 숨김 콘텐츠와 건너뛰기 링크 */
.hidden, .skipNav, legend {
	position : absolute ;
	left : -9999em ;
}
/* 요소 박스의 여백 초기화 */
* {
	margin : 0 ;
	padding : 0 ;
}
/* 목록 요소의 bullet 제거 */
ul {
	list-style-type : none ;
}
/* 테두리 제거 */
fieldset {
	border : 0 ;
}
/* form 요소의 font-size */
input, select {
	 font-size : 1em ;  
}
/* 인라인 요소  정렬 */
img, label, input, select{
	vertical-align : middle ;
}
/* 링크 텍스트 색상 및 밑줄 */
a {
	text-decoration : none ;
}
a:link {
	color : #000 ;
}
a:visited {
	color : #333 ;
}
a:hover, a:focus {
	color : #666 ;
}
/* 웹폰트 */
@font-face {
    font-family:"Nanum";
    font-weight:400;
    src: url('font/NanumGothic.eot');
    src: url('font/NanumGothic.eot?#iefix') format('embedded-opentype'),
         url('font/NanumGothic.woff') format('woff'),
		 url('font/NanumGothic.ttf') format('truetype');
}
@font-face {
    font-family:"NanumEX";
    font-weight:900;
    src: url('font/NanumGothicExtraBold.eot');
    src: url('font/NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'),
         url('font/NanumGothicExtraBold.woff') format('woff'),
		 url('font/NanumGothicExtraBold.ttf') format('truetype');
}
/* Flexible Objects */
img, video {
	max-width : 100% ;
	height : auto ; 
}
/* body */
body {
	font-size : 0.75em ;
	line-height : 1 ;
	font-family : "Nanum" ;
	color : #000 ;
	background-color : #fff ; 
}
/* =============================== header 시작 ===================================== */
#header {
	background : #988574 ;
	overflow : hidden ;
}
/* 웹카페 로고 */
.logo {
	float : left ;
	width : 50% ;
	padding : 5px ;
}
/* 웹카페 안내링크 - 로그인, 회원가입, 네이버 카페링크 등 */
.infoLink {
	float : right ;
	padding : 10px 10px 10px 0 ;
}
.infoLink li {
	float : left ;
	margin-left : 5px;
}
.infoLink a {
	display : block ;
	width : 30px ;
	height : 0 ;
	padding : 30px 0 0 0 ;
	overflow : hidden ;
	background : url(images/sprite_mobile_header.png) no-repeat ;
}
.login a {
	background-position : 0 0 ;
}
.join a {
	background-position : 0 -60px ;
}
.naver a {
	background-position : 0 -120px ;
}
/* 웹카페 검색영역 */
.search {
	clear : both ;
	overflow : hidden ;
	margin : 5px ;
}
#searchForm {
	float : right ;
}
.search input{
	border : 0 ;
	border-radius : 3px ;
	padding : 5px ;
}
.btnSearch {
	width : 30px ;
	height : 30px ;
}
/* 메인메뉴 */
.navArea {
	background : #38302e ;
}
.mainMenu {
	overflow : hidden ;
}
.mainMenu li {
	float : left ;
	width : 50% ;
	text-align : center ;
}
.mainMenu a {
	display : block ;
	color : #cab29a ;
	font-family : "NanumEX" ;
	font-size : 1.3em ;
	line-height : 2.5 ;
}
/* =============================== header 종료 ===================================== */

/* =============================== mainContents 시작 ===================================== */
/* 슬라이드 이미지 */
.slide {
	position : relative ;
	width : 95% ;
	margin : 20px auto ;
	text-align : center ;
}
.slideImg li {
	display : none ;
}
li.actImg {
	display : block ;
}
.slideControl a {
	position : absolute ;
	width : 25px ;
	height : 25px ;
	top : 40% ;
}
.slidePrev {
	left : 0 ;
}
.slideNext {
	right : 0 ;
}
.slideNumber {
	margin : 5px 0 ;
}
.slideNumber a {
	display: inline-block ;
	width : 10px ;
	height : 0 ;
	padding-top : 10px ;
	overflow : hidden ;
	border : 1px solid #bbb ;
	border-radius : 10px ;
	background : #ccc ;
	margin : 2px;
}
a.actNumber {
	background : #f00 ;
}
/* 콘텐츠 제목 공통 - Sprite 배경이미지 */
.subject {
	color : #35302d ;
	font-size : 1.25em ;
	height : 58px ;
	padding-left : 65px;	
	margin : 10px 0 ;
	background :url(images/sprite_main.png) no-repeat 0 0 ;	
}
.subject a {
	color : #30302d ;
}
.enSubject {
	display : block ;
	
	margin-top : 5px ;
}
.bookTitle {
	background-position : 0 0;
}
.bookTitle .enSubject {
	color : #abd375 ;
}
.qnaTitle {
	background-position : 0 -115px;
}
.qnaTitle .enSubject {
	color : #c7b39a ;
}
.newsTitle {
	background-position : 0 -230px;
}
.newsTitle .enSubject {
	color : #e8ca58 ;
}
.hotTitle {
	background-position : 0 -345px;
}
.hotTitle .enSubject {
	color : #eea60a ;
}
.twitterTitle {
	background-position : 0 -460px;
}
.twitterTitle .enSubject {
	color : #6aaee6 ;
}
/* 웹카페 서적 */
.bookMain {
	position : relative ;
}
.bookImg {
	width : 50% ;
	margin : 10px auto ;
}
.bookDetail {
	margin : 20px 0;
	display : none ;
}
.actBook{
	display : block ;
}
.bookDetail h2 {
	color : #888;
	font-size : 1em ;
	text-align : center ;
}
.bookDetail dl {
	margin : 5px 0 10px;
	text-align : center ;
}
.bookDetail dt, .bookDetail dd {
	display : inline-block ;
	color : #8a8a8a ;
}
.bookDetail .designer:before {
	content : "&" ;
}
.bookDetail .name:before {
	content : "/" ;
}
.bookDetail .point {
	display : block ;
	color : #afd371 ;
	font-size : 2em ;
}
.bookDetail p {
	text-align : justify ;
	color : #898989 ;
	line-height : 1.6 ;
}
.bookControl a {
	position : absolute ;
	top : 35% ; 
	height : 0 ;
	padding-top : 1.5em ;
	overflow : hidden ;
	background : url(images/sprite_book.png) no-repeat ;
}
a.bookPrev {
	left : 1em ;
	background-position : 0 -34px ;
}
a.bookPrev.end {
	background-position : 0 0 ;
}
a.bookNext {
	right : 0 ;
	background-position : 0 -102px ;
}
a.bookNext.end {
	background-position : 0 -68px ;
}
.bookExample {
	width : 80% ;
	margin : 20px auto ;
	overflow : hidden ;
}
.bookExample li {
	width : 30% ;
	float : left ;
	margin-left : 5% ;	
}
.bookExample span {
	display : block ;
	text-align : center ;
	font-family : "NanumEx" ;
	margin : 5px 0 10px 0 ;
}
.bookExample li:first-child {
	margin-left : 0 ;	
}
/* 웹카페 묻고 답하기 */
.qnaMain {
	position : relative ;
	margin : 0 auto 10px ;
}
.qnaList li {
	margin : 8px 0 8px 5px ;
	padding-left : 10px ;
	line-height : 1.6 ;
	overflow : hidden ;
	background : url(images/sprite_bullet.png) no-repeat 0 8px ;
}
.qnaMain time {
	float:right ;
	font-size : 0.85em ;
	padding : 5px 0 5px 20px ;
	background : url(images/sprite_bullet.png) no-repeat 0 -45px ;
	
}
/* 웹카페 뉴스  */
.newsMain {
	overflow : hidden;
	margin : 20px 0 ;
}
.newsMain p {
	line-height : 1.6 ;
	margin : 10px 0 ; 
}
.newsMain time {
	float : right ;
	font-size : 0.85em ;
	padding : 2px 0 2px 20px ;
	background : url(images/sprite_bullet.png) no-repeat 0 -48px ;		
}
/* 웹카페 인기검색어 */
.hotMain {
	overflow : hidden ;
	margin : 20px 0 ;
}
.hotMain ol {
	padding-bottom : 5px ;
}
.hotMain li {
	position : relative ;
	margin : 5px 0 0 0 ;
	counter-increment : number ;
	color : #fff ;
	font-weight : bold ;
}
.hotMain li:before { 
	content : counter(number, decimal) ; 
	background : #ec6b4e ;
	border-radius : 15px ;
	padding : 5px 8px ;
	margin-right : 3px ;
	font-size : 0.75em ;
}
.keyword { 
	display : inline-block ;
	margin-left : 5px ;
	width : 84% ;
	background : #ebebeb ;	
	border-radius : 10px ;
}
.keyword span {
	background : #c69c6c ;
	display : inline-block ;
	border-radius : 10px 0 0 10px ;
	padding : 5px 10px ;	
}
.no1 {
	width : 70% ;
}
.no2 {
	width : 60% ;
}
.no3 {
	width : 50% ;
}
.no4 {
	width : 40% ;
}
.no5 {
	width : 30% ;
}
/* 웹카페 트위터 */
.twitterArticle {
	border-top : 1px solid #ccc ;
	padding-top : 10px ;
	margin : 15px 0 ;
	overflow : hidden ;
}
.twitterTitle + .twitterArticle {
	border-top : 0 ;
}
.twitterUserProfile {
	float : left ;
	width : 20% ;
	margin-right : 10px ;
}
.twitterUserName {
	display : block ;
	color : #000 ;
	font-weight : bold ;
	margin-bottom : 10px ;
}
.twitterUserName span {
	font-weight : normal ;
}
.twitterContent {
	margin-left : 60px ;
	line-height : 1.6 ;
}
.twitterDate {
	float : right ;
	font-size : 0.85em ;
	padding : 2px 0 2px 20px ;
	background : url(images/sprite_bullet.png) no-repeat 0 -50px ;	
}
/* =============================== contents 종료 ===================================== */

/* =============================== footer 시작 ===================================== */
#footer {
	color : #eceaeb ;
	font-size : 0.85em ;
	background-color : #432219 ;
	/* repeating-linear-gradient의 경우 webkit 계열의 웹 브라우저의 렌더링 품질이 좋지 않아 파이어폭스와 인터넷 익스플로러에만 적용 */
	background-image : -ms-repeating-linear-gradient(-45deg, #462a1f 2px, #462a1f 4px, #432219 4px, #432219 8px) ;
	background-image : -moz-repeating-linear-gradient(-45deg, #462a1f 2px, #462a1f 4px, #432219 4px, #432219 8px) ;	
}
#footer h1 {
	font-size : 1.3em ;
	color : #c6b29a ;
}
/* 웹카페 주소 */
.addressArea {
	text-align : center ;
	padding : 10px 0 15px ;
}
.addressArea h1 {
	padding-right : 10px ;
}
address {
	font-style : normal ;
}
address:after {
	content : "" ;
	display : inline-block ;
	width : 18px ;
	height : 25px ;
	background : url(images/sprite_footer.png) no-repeat 0 0 ;
}
/* 웹카페 정책 */
.guideArea h1 {
	padding : 15px 0 0 15px ;
}
.guide {
	padding : 15px ;
}
.guide a {
	color : #fff ;
	display : block ;
	line-height : 2 ;	
}
/* 연락 및 상담 */
.contactArea h1 {
	padding : 15px 0 0 15px ;
}
.contact {
	padding : 15px ;
}
.contact li {
	height : 18px ;
	line-height : 18px ;
	padding-left : 25px ;
	margin : 5px 0 ;
	background : url(images/sprite_footer.png) no-repeat 0 0 ;
}
li.webcafeTel{
	background-position : 0 -50px ;
}
li.webcafeFax{
	background-position : 0 -93px ;
}
li.webcafeEmail{
	background-position : 0 -136px ;
}
.contact a {
	color : #fff ;
} 
/* 웹카페 저작권 */
.copyright {	
	color : #c5b39b ;
	padding : 10px ;
	text-align : center ;	
	background : #291610 ;
}
/* 맨위로 - 링크 */
a.skipTop {	
	display : block ;
	color : #fff ;
	padding : 10px ;
	text-align : center ;
	background : #000 ;
}
/* =============================== footer 종료 ===================================== */


/* ===== Mobile Device - 사용자 해상도가 320px 이상일 때 ===== */
@media all and (min-width:320px) {
	/* ========== header 재설정 시작 ============*/
	/* 메인메뉴 */
	.mainMenu li {
		width : 25% ;
	}
	/* ========== header 재설정 종료 ============*/
	/* ========== footer 재설정 종료 ============*/
	#footer {
		overflow : hidden ;
	}
	.addressArea h1, address {
		display : inline ;
	}
	.guideArea, .contactArea {
		float : left ;
		width : 50% ;
	}
	.copyrightArea {
		clear : both ;
	}
	/* ========== footer 재설정 종료 ============*/
}
/* ===== Tablet Device - 사용자 해상도가 768px 이상일 때 ===== */
@media all and (min-width:768px) {
	/* ========== Tablet Layout ============*/
	#mainContents {
		overflow : hidden ;
		padding : 10px ;
	}
	.bookMain {
		width : 40% ;
		float : left ;
	}
	.qnaMain {
		width : 50% ;
		float : right ;
	}
	.newsMain {
		width : 50% ;
		float : right ;
	}
	.hotMain {
		width : 40% ;
		float : left ;
	}
	.twitterMain {
		width : 50% ;
		float : right ;
	}
	/* ========== header 재설정 시작 ============*/
	#header {
		position : relative ;
	}
	#header:before {
		content : "슬비쌤의 반응형 웹 사이트  - Tablet" ;
		position : absolute ;
		top : 20px ;
		left : 30px ;
		font-family : "NanumEX" ;
		font-size : 1.2em ;
		color : #fff ;
	}
	/* 웹카페 로고 */
	.logo {
		float : none ;
		width : auto ;
		position : absolute ;
		top : 50px ;
		left : 0
	}
	/* 웹카페 안내링크 - 로그인, 회원가입, 네이버 카페링크 등 */
	.infoLink li {
		margin-left : 10px ;
	}
	.infoLink a {
		display : block ;
		color : #fff ;
		width : auto ;
		height : auto ;
		padding : 0 ;
		background : none ;
	}
	.login a, .join a {
		padding : 8px 15px ;
		border-radius : 5px;
		background : #7d3016;
	}
	.naver a {
		padding : 10px 0px 2px 25px ;
		background : url(images/sprite_header.png) no-repeat 0 5px ;
	}
	/* 웹카페 검색영역 */
	.search {
		clear : none ;
		padding-right : 15px ;
	}
	#keyword {
		width : 15em ;
		text-align : center ;
	}
	/* 메인메뉴 */
	#navigation {
		height : 70px ;
	}
	.mainMenu {
		margin-left : 250px ; 
	}
	.mainMenu a{
		height : 70px ; 
		line-height : 70px ;
	}
	/* ========== header 재설정 종료 ============*/
	/* ========== footer 재설정 시작 ============*/
	#footer {
		position : relative ;
	}
	.addressArea {
		position : absolute ;
		top : 5px ;
		left : 0 ;
		width : 100% ;
		text-align : center ;
	}
	.addressArea h1, address {
		display : block ;
	}
	.guideArea {
		width : auto ;
		padding-left : 20px ;
	}
	.contactArea {
		float : right ;
		width : auto ;
		padding-right : 20px ;
	}
	/* ========== footer 재설정 종료 ============*/
	#wrapper {
		position : relative ;
	}
	a.skipTop {
		position : absolute ;
		right : 10px ;
		bottom : 180px ;
		width : 79px ;
		height : 0 ;
		padding : 32px 0 0 0 ;
		overflow : hidden ;
		background : url(images/top.png) no-repeat ;
	}
	
}
/* ===== PC Device - 사용자 해상도가 1024px 이상일 때 ===== */
@media all and (min-width:1024px) {
	/* ========== PC Layout ============*/
	/* ========== header 재설정 시작 ============*/
	.headerInner {
		position : relative ;
		width : 85% ;
		margin : 0 auto ;
	}
	#header:before {
		content : "" ;
	}
	.headerInner:before {
		content : "슬비쌤의 반응형 웹 사이트  - PC" ;
		position : absolute ;
		top : 20px ;
		left : 30px ;
		font-family : "NanumEX" ;
		font-size : 1.2em ;
		color : #fff ;
	}
	#navigation {
		width : 85% ;
		margin : 0 auto ;
	}
	/* ========== header 재설정 종료 ============*/
	/* ========== mainContents 재설정 시작 ============*/
	#mainContents {
		overflow : hidden ;
		width : 80% ;
		margin : 0 auto ;
		padding : 10px ;
	}
	.bookMain {
		width : 33% ;
		float : left ;
	}
	.qnaNewsArea {
		width : 40% ;
		float : left ;
		margin-left : 2% ;
	}
	.qnaMain {
		width : auto ;
		float : none ;
	}
	.newsMain {
		width : auto ;
		float : none ;
	}
	.hotTwitterArea {
		width : 23% ;
		float : right ;
	}
	.hotMain {
		width : auto ;
		float : none ;
	}
	.twitterMain {
		width : auto ;
		float : none ;
	}
	/* ========== mainContents 재설정 종료 ============*/
	/* ========== footer 재설정 시작 ============*/
	.footerInner {
		width : 60% ;
		margin : 0 auto ;
	}
	#footer h1 {
		font-size : 1.5em ;
	}
	/* ========== footer 재설정 종료 ============*/
}

